/*---------------*/ 
/* == SUMMARY    */ 
/*---------------*/

/* L28   -1- Body*/
/* L81  -2- Header*/
/* L135  -3- Main*/
/* L141  -4- Aside*/
/* L172  -5- Article*/
/* L237  -6- Footer*/
/* L326  -7- Media Queries*/
/* L328      Tablet*/
/* L368      Medium sreen*/
/* L515      Small screen*/

/*------------------*/ 
/* == COLOR CODES   */ 
/*------------------*/

/* -Black- (a, container_article h2, container_recommendations h2, title h2 480px ): #000*/
/* -Faux-midle-red- (h3, container_picture, span.brigitte, span.devel, container_informations,
container_article, .fas.fa-graduation-cap,.fas.fa-briefcase, .far.fa-dot-circle,.fas.fa-circle, 
#container_hobbies, #container_hobbies h2, #container_recommendations h2, .fas.fa-pencil-alt: #e88873*/
/* -Faux-cadet- (h3, img, title h2, a,container_article, container_hobbies h2, hobbies ul, hobbies li, 
container_recommendations, img): #5c6d70*/
/* -WHhite- (h3 480px, span.brigitte 480px, ): #FFF*/

/* ---- Body ---- */

body {
    font-family: 'Montserrat', Times New Roman, Verdana, sans-serif;  
    max-width: 1200px;
    margin:0;
    padding:0;
}

h1{
    font-size: 3.9rem;
    font-weight: 300;
    margin:0;
    padding-left: 40px;

}

h2{
    font-size:1.6rem;
    font-weight: 500;
    margin:0;
}

h3{
    display: flex;
    justify-content: center;
    font-size:1.6rem;
    color: #e88873;
    background-color: #5c6d70;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 0;
}

h4{
    font-weight: 500;
    font-size: 1.3rem;
    padding-bottom:0;
    margin-bottom: 0; 
}

h5{
    font-size: 1rem;
    margin-top: 10px;
    font-weight: 400;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    margin-top:0px;
}

/* ---- Header ----*/

#container_header {
	display: flex;
}

#container_picture {
	display:flex;
    flex-direction:column;
    align-items: center;
    width: 30%;
    padding: 50px 6px;
    margin: 0;
    background-color: #e88873;
}

img {
	border: 3px #5c6d70 solid;
	border-radius: 50%;
	width: 200px;
	height: 200px;
    overflow: hidden;
}

#container_title{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin-left: 30px;
}

#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;      
}

#title h2 {
    color: #5c6d70;
    padding-left: 42px;
}

span.brigitte {
    font-weight: normal;
    color:#e88873;
}

span.devel {
    border-bottom: 2px solid #e88873;
    text-decoration-color:#e88873; 
}

/* ---- Main ---- */

#main_container{
    display:flex;
}

/* ---- Aside ----*/

#container_informations {
   display: flex;
   flex-direction: column;
   width: 30%; 
   background-color: #e88873;
}

#details {
    display:flex;
    padding: 5% 10% 5% 10%;
}

a{
   text-decoration: none;
   color: #000;
   font-style: italic;
}

a:hover{
   text-decoration: underline;
   color: #5c6d70;
}

#about {
    margin-top: 24px;
    padding: 5% 10% 5% 10%;
    text-align: left;
}

/* ---- Article ----*/

#container_article {
    display: flex;
    flex-direction: column;
    color:#5c6d70;
    width: 70%;
    margin-top:15px;
}

#container_article h2{
    color:#000;
    margin:20px 7px 15px 70px;
    padding-bottom: 10px;
    border-bottom: 2px solid #e88873;	
}

#container_article h2 i{
	margin-right: 20px;
}

.informations {
    display:flex;
    flex-direction: row;
    padding-left: 36px;
    margin-left: 35px;
}

.text {
     display:flex;
     flex-direction: column;
     width:70%;
}
   
.date {
    display: flex;
    margin-left:0;
    margin-top: 15px;
    width: 30%;
    font-weight: 500;
}

.fas.fa-graduation-cap,.fas.fa-briefcase {
    font-size:2.5rem;
    color:#e88873;
}

.far.fa-dot-circle {
    margin-top: 18px;
    font-size:15px;
    margin-right:10px;
    color:#e88873;
}

.circle{
    margin-right: 5px;
}

.fas.fa-circle {
    margin-top: 22px;
    font-size:10px;
    margin-right:10px;
    color:#e88873;
}

/* --- Footer ---*/

#container_footer {
    display:flex;
}

#container_hobbies {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color:#e88873;
    margin-right: 0;
    padding-top: 6%;
}

#container_hobbies h2 {
    display: flex;
    justify-content: center;
    color: #e88873;
    background-color: #5c6d70;
    margin-top:auto;
}

#hobbies ul {
    color:#5c6d70;
    display:flex;
    justify-content: space-around;
    list-style-type: none;
    padding:10px 5px 10px 5px;
}

#hobbies li {
    padding:10px 5px 10px 15px;
    font-size:2.5rem;
    border: 2px #5c6d70 solid;
    border-radius: 50%;
    width: 55px;
    height:50px;
}


#container_recommendations {
    width: 70%;
    display:flex;
    flex-direction: column;
    color:#5c6d70;
    margin-top: 25px;
    margin-bottom: 10px;
}

#container_recommendations h2{
    color:#000;
    margin:25px 7px 15px 70px;
    padding-bottom: 10px;
    border-bottom: 2px solid #e88873;   
}

.fas.fa-pencil-alt {
    font-size:2.5rem;
    color:#e88873;
    margin-right:10px;
}

#work_recommendations {
    display: flex;
    justify-content: space-between;
    padding-left: 70px;
    }

#work_recommendations h4{
    font-weight: 500;
    margin-bottom: 0;
}

#judith_l{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
}

#pierre_b {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
}

/*--- Media Queries ---*/

/*--- Tablet ---*/

@media screen and (max-width: 960px)
{
    img {
        border: 3px #5c6d70 solid;
        border-radius: 50%;
        width: 130px;
        height: 130px;
    }

    h1{
        font-size: 2rem;
    }

    h2, h3{
        font-size: 1rem;
    }

    h4{
        font-size: 0.8rem;
    }

    h5, p{
        font-size: 0.6rem;
    }

    .fas.fa-graduation-cap, .fas.fa-briefcase, .fas.fa-pencil-alt{
        font-size: 1.5rem;
    }
    

    #hobbies li {
        padding: 10px 12px 10px 12px;
        font-size: 1.5rem;
        width: 25px;
        height: 25px;
    }  
}

/*--- Medium sreen ---*/

@media screen and (max-width: 480px) 
{

    h1{
        text-align: center;
        padding-left: 0;
        font-size:2.5rem;
    }

    h3{
        font-size: 1.2rem;
        color:#FFF;
        font-weight: 400;
    }

    h4{
        font-size: 1.1rem;
    }

     h5, p{
        font-size: 0.9rem;
    }

    p{
        margin: 0;
        font-weight: 300;
    }

    #container_header{
        display: flex;
        flex-direction:column;
        width: 100%;
    }

    #container_picture{
        display: flex;
        width: auto;
        margin: 0;
    }

    img{
        width: 200px;
        height:200px;
    }

    #container_title{
        background-color: #e88873;
        width:auto;
        margin: 0;
    }

    span.brigitte {
        font-weight: 300;
        color:#FFF;
    }
        
    #title h2{
        text-align: center;
        padding-left: 0;
        font-size: 1.2rem;
        color:#000;
        font-weight: 400;
    }

    span.devel {
        border-bottom: 3px solid white;
        text-decoration-color:#e88873; 
    }
    
    #main_container{
        display: flex;
        flex-direction:column;
        width: 100%;
    }

    #container_informations{
        display: flex;
        flex-direction:column-reverse;
        width: 100%;
    }

    #about{
        margin: 0;
    }

    #about, #details{
        padding-left: 5%;
    }

    #container_article{
        width:auto;
        margin: 0;
    }

    #container_article h2{
        font-size: 1.2rem;
        margin-left: 5%;
    }

    .informations{
        flex-direction: column;
        margin:0;
        padding-left:5%;
        padding-bottom: 5%;
    }

    .icon{
        display:none;
    }

    .circle{
        display:none;
    }

    .date{
        margin-top: 0;
    }

    .date p{
        font-weight: 500;
    }

    #container_footer{
        display: flex;
        flex-direction:column;
        width: 100%;
    }
   
    #container_hobbies
    {
        width:auto;
        margin: 0;
        padding-top: 0;
    }

    #container_hobbies h3{
        margin-top: 0;
        font-weight:500;
    }

    #container_recommendations {
        display:none;
    }     
}

/*--- Small screen ---*/

@media screen and (max-width: 320px)
{
    img{
        width: 150px;
        height:150px;
    }

    h1{
        font-size: 2rem;
    }

    #title h2, h2, h3{
        font-size: 1rem;
    }

    h4{
        font-size: 0.9rem;
    }

    h5{
        font-size: 0.8rem;
    }
    
    p{
        font-size:0.8rem
    }


}





